<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleExecutable</key>
        <string>@MACOS_EXECUTABLE_NAME@</string>
        <key>CFBundleIdentifier</key>
        <string>@MACOS_BUNDLE_IDENTIFIER@</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>@MACOS_BUNDLE_NAME@</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleVersion</key>
        <string>@PROJECT_VERSION@</string>
        <key>CFBundleShortVersionString</key>
        <string>@PROJECT_VERSION_MAJOR@.@PROJECT_VERSION_MINOR@</string>
        <key>CFBundleGetInfoString</key>
        <string>@MACOS_BUNDLE_NAME@ @PROJECT_VERSION@</string>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.games</string>
        <key>LSSupportsGameMode</key>
        <true/>
        <key>LSMinimumSystemVersion</key>
        <string>@CMAKE_OSX_DEPLOYMENT_TARGET@</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
    </dict>
</plist>
