<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.snurhythm.asobmashow.DocumentsExplorerProbeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:mimeType="vnd.android.document/directory" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snurhythm.asobmashow.SafGrantActivity"
            android:exported="true" />
    </application>
</manifest>
